div.date-picker-input {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: white;
    font-size: inherit;
}

div.date-picker-input i {
    position: absolute;
    right: 0px;
    top: 4px;
    font-size: inherit;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('app/components/date-icon.png');
    background-size: contain;
}

div.date-picker {
    position: absolute;
    width: auto;
    min-height: 220px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    z-index: 10;
}

.nac-bar ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 10px;
}

.nav-bar ul li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #1165E5;
    padding: 3px 12px;
    margin-bottom: 8px;
}

.nav-bar ul li.active, .nav-bar ul li:hover {
    background: #1165E5;
    border: 1px solid #1165E5;
    color: #ffffff;
}

div.calendar .control-bar {
    width: 100%;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
}

div.calendar .control-bar .material-icons {
    cursor: pointer;
    font-size: 21px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

div.calendar .control-bar .monthTitle {
    font-size: inherit;
    font-weight: bold;
    width: 160px;
    text-align: center;
}

div.calendar .days {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: inherit;
}

th, td {
    text-align: center;
    position: relative;
}

tr > td.disabled {
    color: #999999;
    text-decoration: line-through;
    cursor: not-allowed;
}

tr > td.range {
    background-color: #ebf4f8;
    border-color: transparent;
}

tr > td.active, tr > td.active:hover {
    border-radius: 4px;
    background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0, 0, 0, 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    color: white;
}

tr > td:hover, .control-bar .material-icons:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}

.date {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.cancelArea {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 0 0 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.pointer {
    cursor: pointer;
}

.pull-left {
  float: left !important;
}